.error {
    color: #ce4057 !important;
    font-size: 12px;
}

.notification.success-msg {
    background: #5fcf8e !important;
    border: none;
    color: #fff;
}

.success-msg {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.notification {
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 12px 32px 12px 38px;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 14px;
    margin-bottom: 15px;
}

.notification.error-msg {
    background: #e24063 !important;
    border: none;
    color: #fff !important;
}
.error-msg {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.notification .msg-icon-left {
    position: absolute;
    left: 277px;
    top: 175px;
}

.notification .msg-close {
    position: absolute;
    right: 30px;
    top: 175px;
    cursor: pointer;
}

.results tr[visible='false'],
.no-result{
    display:none;
}


#chartdiv {
    width		: 100%;
    height		: 500px;
    font-size	: 11px;
}

.table-btn{
    margin: 3px;
}