body{
	font-family: Open sans;
}

.left{
	float: left;
}
.right{
	float: right;
}
p{
	font-weight: bold;
}
h2{
	font-weight: bold;
}
.mg_top{
	margin-top: 6px;
}
.upper_case{
	text-transform: uppercase;
	font-size: 18px;
	padding-right: 58px;
}
.site_color_org{
	color: #ff0000;
}
.text_color_white{
	color: #ffffff;
  font-size: 18px;
}
.loading_screen{
  color: #ffffff;
  font-size: 40px;
  text-align: center;
}
.underline{
	text-decoration: underline;
}
.text_black{
	color: #1a1a1a;
	font-size: 18px;
	text-align: justify;
}
.button_rectangle {
    background-color: #ff0000; 
    border: none;
    color: white;
    padding: 0px 34px 0px 34px;
 	text-align: center;
    text-decoration: none;
    font-size: 36px;
}
.bacgground_color{
	background-color: #000000;
}
.digital_font{
	font-family: Digital-7;
	font-size: 100px;
}
.unorder_list{
	list-style: none;
}
ul li a{
	color: #fff;
	float: left;
	
}
.shot{
	padding-right: 15px;
}
.inline_menu{
	display: inline-block;
}
.ahsan_list{
  font-size: 22px;
  list-style-type: none;
  list-style: none;
}
.unactive{
  color: #fff;
}
.active{
  color: #ff0000;
}
.top_margin{
	margin-top: 10px;
}
.top_margin_more{
	margin-top: 30px;	
}
.margin_top_center{
	margin-top: 170px;
}
.retail_logo{
	color: #fff;
	font-size: 26px;
}
.white_backgoround{
	background-color: white;
}
.app_settings{
	padding-top: 7px;
	font-size: 15px;
}
/*.thank_you{
	margin-top: 120px;
}*/
.thank_you_email{
	margin-top: 40px;
}
.start_button{
	background-color: #ff0000;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 50px;
	padding-left: 50px;
	font-size: 27px;
	color: #fff;
}
.coach_button{
	margin-top: 120px;
	background-color: #000;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 50px;
	padding-left: 50px;
	font-size: 27px;
	color: #ff0000;
}
.player_button{
	background-color: #000;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 50px;
	padding-left: 50px;
	font-size: 27px;
	color: #ff0000;
	margin-top: 12px;
}
.player_button:hover ,.coach_button:hover{
	background-color: #ff0000;
	color: #fff;
}

.login{
	color: #181717;
}
.vedio_text{
	padding-left: 35px;
	display: inline-block;
}
.vedio_shot{
	display: inline-block;

}
.text_youtube{
	color: #474646;
}
@media (max-width: 458px){
/*.youtube{
	width: 230px;
	}*/


}

.error {
	color: #ce4057 !important;
}

.notification.success-msg {
	background: #5fcf8e !important;
	border: none;
	color: #fff;
}

.success-msg {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

.notification {
	margin-bottom: 30px;
	border-radius: 4px;
	padding: 12px 32px 12px 38px;
	border: 1px solid rgba(0, 0, 0, 0);
	font-size: 14px;
	margin-bottom: 15px;
}

.notification.error-msg {
	background: #e24063 !important;
	border: none;
	color: #fff !important;
}
.error-msg {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
.notification .msg-icon-left {
	position: absolute;
	left: 277px;
	top: 175px;
}

.notification .msg-close {
	position: absolute;
	right: 30px;
	top: 175px;
	cursor: pointer;
}

.results tr[visible='false'],
.no-result{
	display:none;
}


#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

.table-btn{
	margin: 3px;
}