

html, body {
/*    height: 100%;*/
}
body {    
}
/*body.navbar-more-show  {
/*	overflow: hidden;
}*/

/*.animate {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}*/
.navbar {
    /*height: calc(100%);*/
/*	max-height: 300px;
	-webkit-transform: translate(0px, calc(-100% + 69px));
	transform: translate(0px, calc(-100% + 69px));*/
}
.navbar .container:not(.navbar-more) {
    padding: 0px;
}
/*.navbar-more-overlay {
	background-color: rgba(102, 102, 102, 0.55);
	display: none;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1029;
}*/
.navbar-more-show > .navbar-more-overlay {
	display: block;
}
/*.navbar-more-show > .navbar {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}*/
.navbar-nav.mobile-bar {
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	align-items: stretch;
	/*margin: 0px 0px;*/
	padding-left: 90px;

}
@media(max-width: 766px){
	#dektop_nav{
		position: absolute;
		visibility: hidden;
	}
}
@media (max-width: 893px){
	.navbar-nav.mobile-bar{
		padding-left: 0px;
	}
}
@media (max-width: 682px){
	.navbar-nav.mobile-bar{
		padding-left: 35px;
	}
}
@media (max-width: 500px){
	.navbar-nav.mobile-bar{
		padding-left: 5px;
	}
}
@media (max-width: 406px){
	.navbar-nav.mobile-bar{
		padding-left: 5px;
	}
}
@media (max-width: 300px){
	.navbar-nav.mobile-bar{
		padding-left: 5px;
	}
}
.navbar{
	min-height: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	
}
.navbar-nav.mobile-bar > li {
/*	-webkit-flex-grow: 1;
	flex-grow: 1;
*/	text-align: center;
}
.navbar-nav.mobile-bar > li > a > span.menu-icon {
	display: block;
	font-size: 1.8em;
}
.navbar-more {
	background-color: rgb(255, 255, 255);
/*	height: calc(100% - 69px);
	overflow: auto;*/
}
.navbar-more .navbar-form {
	border-width: 0px;
}
.navbar-more .navbar-nav > li > a {
    color: rgb(64, 64, 64);   
}
.navbar-nav.mobile-bar > li > a:hover {
	background-color: transparent;
	color: white;
	
}
/*.navbar-more > .navbar-nav > li > a > span.menu-icon {
	margin-left: 10px;
	margin-right: 10px;
}
*/
@media (min-width: 767px) {
	.navbar {
 /*       height: auto;
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);*/
	}
	.navbar-nav.mobile-bar {
		display: block;
		max-height: 64px;
		margin: 0px -15px;
	}
	.navbar-nav.mobile-bar > li > a > span.menu-icon {
		display: none;
	}
	
}

@media (min-width: 768px){
	#mobile_nav{
		visibility: hidden;
		position: absolute;
	}
	
}
.navbar-nav.desktop_bar {
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	align-items: stretch;
	/*margin: 0px 0px;*/
	margin-left: 70px;
	padding-left: 80px;

}
.navbar-nav.desktop_bar > li {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	text-align: center;
}
.navbar-nav.desktop_bar > li > a > span.menu-icon {
	display: block;
	font-size: 1.8em;

}
.navbar-nav.desktop_bar > li > a:hover {
	background-color: transparent;
	color: white;
	
}
/*top bar*/

.busi-btn{    border-radius: 0px;   color: #003333 !important;  font-size: 18px; font-weight: 400; }
    .busi-btn:hover{    border-radius: 0px; color: #333 !important;  font-size: 18px; font-weight: 400; }
    .busi-btn-active,.busi-btn-active:hover{    border-radius: 0px; color: #333 !important;  font-size: 18px; font-weight: 400; }
    
    
.hom_nav_btn_red{  /* sign-up button  */
    border-radius: 0px;
    background-color:#333; /* red color */
    border:0px !important;
    font-size:18px;
    font-weight: 400;
    padding: 7px 30px;
    margin: 0 -25px;
}
.hom_nav_btn{
    border-radius: 0px;
    color:#003333 !important; /* blue color */
    font-size:15px;
    font-weight: 400;
    padding-top: 10px;
    display: inline-block;
}
.hom_nav_btn_spay{
 border-radius: 0px;
    color:#003333 !important; /* blue color */
    font-size:15px;
    font-weight: 400;
    padding-top: 10px;
    display: inline-block;   
}
.navbar-centerr{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
} 

.business-logo-align {
    float: left;
    padding-left: 40px;
    padding-bottom: 50px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

@media (max-width: 1091px) and (min-width: 843px){
  .medias{
   display:none;
  }
 
}